
.wrapper {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper>h3 {
    font-size: 28px;
    margin: 3rem 0;
    margin-top: 7.5rem;
    text-align: centers;
}

.categoriesAndBlogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.categoriesAndBlogs::-webkit-scrollbar {
    display: none;
    
}

.categories {
    padding: 30px;
    gap: 20px;
  
}


.category {
    cursor: pointer;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #222;
    text-transform: capitalize;
    margin: 0 10px ;

}

.category.active {
    background-color: #222;
    color: #fff;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
}

.blog {
    width: 550px;
    height: 350px;
    position: relative;
    margin-bottom: 2.5rem;
}

.blog>a>img {
 
}

.categoryAndMetadata {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.25rem;
}

.blog .category {
    cursor: pointer;
    border-radius: 12px;
    padding: 0.25rem 1.5rem;
    border: 1px solid #222;
    text-transform: capitalize;
}

.metadata {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.blogs>.blog>.blogData {
    color: #000;
    padding: 0 1rem;
}

.blogs>.blog>.blogData>h4 {
    font-size: 24px;
    margin-bottom: 0.75rem;
}

.blogDesc {
    font-size: 18px;
    color: #444;
    line-height: 29px;
    letter-spacing: 0.75px;
    margin: 1.25rem 0 1.5rem 0;
}

/* top right bottom left */

.authorAndCreatedAt {
    display: flex;
    justify-content: space-between;
    color: #444;
}

.authorAndCreatedAt>span>span {
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.readMore{
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.25rem;
    transition: 150ms all ease;
    cursor: pointer;
}

.readMore:hover{
    color: #333;
}

.noBlogsMessage{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #222;
}
@media (max-width: 767.98px){
    .container {

        width: 100%;
        height: 100vh;

    }
    
    .wrapper {
    
        
    display: flex;
 flex-direction: column;
align-items: center;
justify-content: center;
 margin-top: 100px;



}
h3{
margin-top: 60px;
text-align: center;
}



.categoriesAndBlogs {
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.categories{
    width: max-content;
    
display: flex;
  gap: 10px;

    
}

.categoriesAndBlogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.categoriesAndBlogs::-webkit-scrollbar {
    display: none;
    
}

.categories {
    padding: 10px;
  
}
.blog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    
}


.blogData{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    margin: 10px 20px;
}
.metadata{
    display: flex;
    align-items: flex-start;

    gap: 5px;

    margin: 5px 10px;
}
.authorAndCreatedAt{
    display: flex;
    gap: 10px;
}
.blog
.blogDesc {
    display: flex;
    width: 100%;
    font-size: 14px;
    color: gray;
    align-items: center;
    
    margin: 10px 6px;
}
.readMore{
    margin-bottom: 100px;
}
.img{
    width: 250px;
    height: 300px;
}

}
